<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= Project.find(@project_keyword.project_id).name %>
</p>

<p>
  <b>Keyword:</b>
  <%= Keyword.find(@project_keyword.keyword_id).keyword %>
</p>

<%= link_to 'Edit', edit_project_keyword_path(@project_keyword) %> |
<%= link_to 'Back', project_keywords_path %>
