<h1>Listing web2s</h1>

<%= link_to 'New Web2', new_web2_path %>
<br />
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
      <tr>
        <th>Url</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @web2s.each do |web2| %>
      <tr>
        <td><%= web2.url %></td>
        <td><%= link_to 'Show', web2 %></td>
        <td><%= link_to 'Edit', edit_web2_path(web2) %></td>
        <td><%= button_to 'Destroy', web2, method: :delete %></td>
      </tr>
    <% end %>
    </table>
</div>
