<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @web2.url %>
</p>

<p>
  <b>No CAPTCHA:</b>
  <%= @web2.no_captcha %>
</p>

<p>
  <b>Easy:</b>
  <%= @web2.easy %>
</p>

<p>
  <b>Manual:</b>
  <%= @web2.manual %>
</p>

<p>
  <b>Bad:</b>
  <%= @web2.bad %>
</p>

<p>
  <b>Hybrid:</b>
  <%= @web2.hybrid %>
</p>

<p>
  <b>Hybrid Sub:</b>
  <%= @web2.hybrid_sub %>
</p>


<%= link_to 'Edit', edit_web2_path(@web2) %> |
<%= link_to 'Back', web2s_path %>
