<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @web2.url %>
</p>

<p>
  <b>Manual:</b>
  <%= @web2.manual %>
</p>


<%= link_to 'Edit', edit_web2_path(@web2) %> |
<%= link_to 'Back', web2s_path %>
