<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Keyword</Data></Cell>
        <Cell><Data ss:Type="String"><%= @keyword.keyword %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Link</Data></Cell>
        <Cell><Data ss:Type="String"><%= @keyword.link %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String"><%= @keyword.email %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Password</Data></Cell>
        <Cell><Data ss:Type="String"><%= @keyword.password %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Password 2</Data></Cell>
        <Cell><Data ss:Type="String"><%= @keyword.password2 %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String"><%= @keyword.description %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">Anchor Text</Data></Cell>
        <Cell><Data ss:Type="String"><%= @keyword.anchor_text %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">City/Location</Data></Cell>
        <Cell><Data ss:Type="String"><%= @keyword.city %></Data></Cell>
      </Row>

      <Row></Row>

      <Row>
        <Cell><Data ss:Type="String">Links:</Data></Cell>
      </Row>

    <% KeywordWeb2.where(keyword_id: @keyword.id).each do |kw2| %>
      <Row>
        <Cell><Data ss:Type="String"><%= kw2.link %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>