<% require 'uri' %>
<p id="notice"><%= notice %></p>

<h2>
  <b>Keyword:</b>
  <%= @keyword.keyword %>
</h2>

<p>
  <b>Link:</b>
  <%= @keyword.link %>
</p>

<p>
  <b>Email:</b>
  <%= @keyword.email %>
</p>

<p>
  <b>Password:</b>
  <%= @keyword.password %>
</p>

<p>
  <b>Password 2:</b>
  <%= @keyword.password2 %>
</p>


<!--<%#= link_to 'Create Profiles', create_profiles_path(id: @keyword.id) %></td>
<%#= link_to 'Create Links', create_links_path(id: keyword.id), class: 'rick_button' %></td>-->

</br>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
      <tr>
        <th>Web2</th>
        <th>Link</th>
        <th>Create Profile</th>
        <th>Place Link</th>
      </tr>

    <% Web2.all.each do |web2| %>
      <tr>
        <% web2_name = URI.parse(web2.url).host.split('.').first %>
        <% web2_name.gsub!('-','') %>
        <% web2_cp = "create_#{web2_name}_profile_path" %>
        <% web2_pl = "place_#{web2_name}_link_path" %>
        <td><%= web2.url %></td>
        <% kwWeb2 = KeywordWeb2.find_by_web2_id_and_keyword_id(web2.id, @keyword.id) %>
        <td><%= link_to kwWeb2.link, kwWeb2.link if kwWeb2 %></td>
        <td><%= link_to "Create #{web2_name} profile", send(web2_cp, keyword_id: @keyword.id) %></td>
        <td><%= link_to "Place #{web2_name} link", send(web2_pl, keyword_id: @keyword.id) %></td>
      </tr>
    <% end %>
    </table>
</div>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
